<!DOCTYPE html>
<html lang="en">
    <%- include('./parts/head.ejs', { title: "Create User" }) %>

    <body id="body-create-user">
        <main class="container">
            <h1>Create a new room</h1>
            <form action="/create-room" method="POST" class="form section">
                <input
                    type="password"
                    class="input"
                    name="password"
                    placeholder="Room Password"
                    required
                />
                <button type="submit" class="btn-primary">Create!</button>
            </form>
        </main>
    </body>
</html>
