<!DOCTYPE html>
<html lang="en">

<%- include('./parts/head.ejs', { title: "Dashboard" }) %>

    <body>
        <main class="container">
            <form action="" class="form">
                <input
                    type="text"
                    class="input"
                    name="roomName"
                    placeholder="Room Name"
                />
                <button type="submit" class="btn-primary">
                    Create a new room
                </button>
            </form>
        </main>
    </body>
</html>
