<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body id="body-homepage">
    <main class="container">

        <h1>almost before</h1>
        <form action="" class="form">
            
            <a href="" class="btn-secondary">Enter room</a>
            <input type="text" class="input">
            <button class="btn-primary">Enter room</button>
            <p class="low-text">aeisuh</p>
            <textarea class="textarea" name="" id="" cols="30" rows="10"></textarea>
        </form>
    </main>
</body>
</html>