<!DOCTYPE html>
<html lang="en">
    <%- include('./parts/head.ejs', { title: "Home" }) %>

    <body id="body-homepage">
        <main class="container main-index">
            <section class="section animate-up">
                <h2 class="spacing-bottom">Create a new room</h2>
                <a href="/create-pass" class="btn-primary">
                    Create a new room</a
                >
            </section>
            
            <div class="or section">
                <div class="line"></div>
                <p class="low-text">or</p>
                <div class="line"></div>
            </div>

            <section class="section animate-up">
                <form action="/rooms/enter-room" method="POST" class="form">
                    <input
                        type="number"
                        placeholder="Room Code"
                        name="roomCode"
                        class="input"
                        required
                    />
                    <button type="submit" class="btn-primary">Join Room</button>
                </form>
            </section>
        </main>
    </body>
</html>
